<% provide(:title, "About") %>
<h1>About</h1>
<p>
  We wanted to create a site with no misinformation about fitness. Our goals:
  <ul>
    <li>Articles and Blogs backed by primary sources</li>
    <li>Lowest cost suppliments and vitamins</li>
    <li>Deep diet and workout tracking</li>
    <li>Body metrics tracking (body fat percentage, weight, etc)</li>
  </ul>
</p>
