<div class="center jumbotron">
  <h1>Welcome to Fitness After 40</h1>

  <h2>
    Get started with our fitness tracking!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
